
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Grechen+Fuemen&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing:border-box;
    transition:all 0.5s ease;
}
html,body{
    height:100%;
    width:100%;
    overflow-x:hidden;

}
.main{
    height:100vh;
    width:100%;
   border-bottom: 0.1px solid rgb(61, 61, 61);

   
}
nav{
 
    background-color: rgb(255, 255, 255);
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 0.3px solid black;
    padding:10px 40px;
 
 
}
@media (max-width:680px){
    nav{
        display:flex;
        flex-direction:column;
    }
}

.logo{
    display:flex;
   align-items: center;
}
.logo img{
    position:relative;
    left:20px;
}
.links{
    display:Flex;
    justify-content:space-between;
    gap:5rem;
    align-items:center;

}
.links a{
    text-decoration: none;
    color:black;
}
.hero-section{
    min-height:100%;
    /* border:2px solid green; */
    display:flex;
    justify-content:center;
    gap:3rem;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    
}
.left{
    display:flex;
    flex-direction: column;
 
    width:40%;
    /* border:2px solid red; */
    padding:5rem 30px;
    gap:30px;
}
.name{
     white-space:nowrap;
 
}
.name h1{
         font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}
.text p{
          font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.role{
    color:rgb(228, 105, 5);
    font-size: 26px;
    font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.right{
    /* border:2px solid yellow; */
    width:40%;
     padding:5rem 30px;
     display:flex;
     justify-content: center;

}
.img-container{
    height:350px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    padding: 30px 20px;
    border-radius: 15px;
    border: 0.3px solid black;
 
 filter: drop-shadow(5px 5px 30px white);

   animation-name: myAnimation;
  animation-duration: 2s;           /* duration */
  animation-iteration-count: infinite; /* ya 3 agar 3 baar chalana ho */
  animation-direction: alternate;  /* reverse every other cycle */
  animation-timing-function: ease-in-out;
  transform-origin: center;

    
    /* border:2px solid green;*/
}
.head{
    position:relative;
  bottom:13rem;
font-size:4rem;
color:rgba(179, 179, 179, 0.945);


}
.img-container img{
    height:100%;
    width:100%;
    object-fit:cover;


}
 .btn button{
position:relative;
  z-index: 1;  
    font-size:16px;
    padding:10px 15px;
    border:none;
     background-color:rgba(189, 189, 189, 0.425);
     border: 0.1px solid black;
    color:rgb(12, 12, 12);
    font-style: bold;
    font-weight:600;
}

button::before{
    content:"";
    position:absolute;
    background-color:whitesmoke;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    width:0px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index:-1;
    color: rgb(255, 255, 255);

}
button:hover::before{
    transform: scaleX(1);
    width: 100%;
    background-color:rgb(223, 87, 8);
        color: rgb(255, 255, 255);
} 

button:hover{
      transform: scale(1.1);
      transition: all 1s;
          color: rgb(255, 255, 255);
}

@keyframes myAnimation{
0%{
     transform:scale(1.03);
     
   
}

100%{
     transform:scale(1.09);
     box-shadow: 8px 10px 15px black;
    
}
}

@media (max-width:750px){

    .hero-section{
        flex-direction: column;
        padding-top: 3rem;
        align-items: center;
    }
    .left{
        width: 100%;
        padding: 10px 0px;
        text-align: center;
    }
    .right{
         width: 100%;
        padding: 10px 0px;
    }
    .head{
        bottom: 0px;;
    }
}


/* Projects sections */


.project-section{
    height:100vh;
    width:100%;
    overflow-x:hidden;
    background-color: rgb(235, 144, 182);
}
.project-heading{
    width:100%;
    color:rgb(255, 11, 52);
    font-size:2rem;
}
