
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Grechen+Fuemen&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    transition:all 0.5s ease;
}
html,body{
    height:100%;
    width:100%;
    overflow-x:hidden;

}
.main{
height:fit-content;
padding-bottom: 2rem;
    width:100%;
    


   
}
nav{
 
    background-color: rgb(255, 255, 255);
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 0.3px solid black;
    padding:10px 40px;
    box-shadow:10px 10px 20px rgba(0, 0, 0, 0.479);
 
 z-index: 999;
}
@media (max-width:680px){
    nav{
        display:flex;
        flex-direction:column;
    }
}

.logo{
    display:flex;
   align-items: center;
}
.logo img{
    position:relative;
    left:20px;
}
.links{
    display:Flex;
    justify-content:space-between;
    gap:5rem;
    align-items:center;

}
.links a{
    text-decoration: none;
    color:black;
}
.hero-section{
  
    /* border:2px solid green; */
    display:flex;
    justify-content:center;
    gap:3rem;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    
}
.left{
    display:flex;
    flex-direction: column;
 
 
    width:40%;
    /* border:2px solid red; */
    padding:5rem 30px;
    gap:30px;
}
.name{
     white-space:nowrap;
 
}
.name h1{
         font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}
.text p{
          font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.role{
    color:rgb(228, 105, 5);
    font-size: 26px;
    font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.right{
    /* border:2px solid yellow; */
    width:40%;
     padding:5rem 30px;
     display:flex;
     justify-content: center;

}
.img-container{
    height:350px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    padding: 30px 20px;
    border-radius: 15px;
    border: 0.3px solid black;
 
 filter: drop-shadow(5px 5px 30px white);

   animation-name: myAnimation;
  animation-duration: 2s;           /* duration */
  animation-iteration-count: infinite; /* ya 3 agar 3 baar chalana ho */
  animation-direction: alternate;  /* reverse every other cycle */
  animation-timing-function: ease-in-out;
  transform-origin: center;

    
    /* border:2px solid green;*/
}
.head{
    position:relative;
    padding-top: 2rem;
  bottom:0rem;
font-size:4rem;
color:rgba(179, 179, 179, 0.945);


}
.img-container img{
    height:100%;
    width:100%;
    object-fit:cover;


}
 .btn button{
position:relative;
  z-index: 1;  
    font-size:16px;
    padding:10px 15px;
    border:none;
     background-color:rgba(241, 39, 39, 0.938);
     border: 0.1px solid black;
    color:rgb(255, 255, 255);
    font-style: bold;
    font-weight:600;
}

button::before{
    content:"";
    position:absolute;
    background-color:rgb(189, 189, 189);
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    width:0px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index:-1;
    color: rgb(5, 5, 5);

}
button:hover::before{
    transform: scaleX(1);
    width: 100%;
    background-color:rgb(253, 253, 253);
        color: rgb(0, 0, 0);
} 

button:hover{
      transform: scale(1.1);
      transition: all 1s;
          color: rgb(0, 0, 0);
}

@keyframes myAnimation{
0%{
     transform:scale(1.03);
     
   
}

100%{
     transform:scale(1.09);
     box-shadow: 8px 10px 15px black;
    
}
}

@media (max-width:750px){

    .hero-section{
        flex-direction: column;
        padding-top: 3rem;
        align-items: center;
    }
    .left{
        width: 100%;
        padding: 10px 0px;
        text-align: center;
    }
    .right{
         width: 100%;
        padding: 10px 0px;
    }
    .head{
        bottom: 0px;;
    }
}


/* Projects sections */


.projects-section{
    width:100%;
    overflow-x:hidden;
    background-color: rgb(255, 214, 214);
    
}
.project-heading{
    width:100%;
    color:rgb(255, 11, 52);
    font-size:2rem;
    text-align: center;
    padding-top: 2.5rem;
}
.projects-wrapper{
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   gap: 4rem;
   margin-top: 2rem;
  
}
.project{
    position: relative;
    width:600px;
    height:400px;
   border-radius: 20px;
    background-image: url("https://i.ytimg.com/vi/CQZxeoQeo5c/sddefault.jpg");
    background-size: cover;
   background-color: black;
   display: flex;
   align-items:center;
    background-repeat: no-repeat;
    background-position: center;
  

    
}
.card{
      width:50%;
    color:aliceblue;
    margin: 40px 0px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
gap:1rem;
z-index:10;

}
.logos i{
    color:red;
    font-size: 2rem;
}
.project-name{
    font-size:2.4rem;
    font-weight: 400;
    color: white;
}

.btngroup{
    display: flex;
    align-items: center;
    gap:15px;
}


.project::after{
    content:"";
    position: absolute;
    inset:0px;
    background-color: rgba(0, 0, 0, 0.61);
    z-index:0;
 border-radius: 20px;

}

.project::before{

content:"";
position:absolute;
inset:0px;
width:0px;
transform:scaleX(0);
transition:all 1s;
transform-origin: left;
background-color: rgb(40, 116, 221);
opacity: 0.4;
z-index:1;
border-radius: 20px;
}
.project:hover{
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.26);
}
.project:hover .card{
 transform: scale(1.1);
}
.project:hover::before{
    transform: scaleX(1);
    width: 100%;
   border-radius: 20px;
}
i:hover{
    transform: scale(1.3);
}
.text-number{
    position:relative;
    left:90%;
    bottom: 45%;
    font-size:6rem;
    color:white;
    z-index:1;
    opacity: 0;

}
.project:hover .text-number{
    opacity:1;
    transition:ease-out 0.8s;
}

@media(max-width:650px){
    .project{
        width:400px;
        height:300px;
    }
    .card{
        width: 100%;
        gap:0px;
        font-size: 0.5rem;
        padding: 0px;
        margin: 0%;
    }
    .text-number{
        font-size: 3.5rem;
    }
    .head{
        font-size: 3rem;
    }
}
@media(max-width:420px){
 .project{
        width:320px;
        height:220px;
    }
    .card{
        width: 100%;
        gap:5px;
        font-size: 0.3rem;
        padding: 0px;
        margin: 0%;
        
    }
    .logos i{
        font-size: 1rem;
    }
    .project-name{
        font-size: 1rem;;
    }
    .text-number{
        font-size: 2rem;
    }
    .head{
        font-size: 2rem;
    }
}